<!DOCTYPE html>
<html class="home">
<head>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap">
	<title></title>
</head>
<body>

	<h1>W E L C O M E</h1>

</body>
</html>