@import "bootstrap-sprockets";
@import "bootstrap";


body {
    background: transparent; 
}

.home {
    height: 100vh; 
    background-image: url("home_bg.jpg");
    background-color: transparent; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.navbar-wrapper {
    background: #153c4d;
    padding: 5px 0;
    width: 100%;
    opacity: 0.95;
    margin-bottom: 50px;
}

.logo {
    height: 100px;
    text-align: center;
    display: inline-block;
	margin-left: 0px;
    margin-right: 40px;
}

.navbar {
    margin: 0 auto;
    width: 60%;
}

.top ul {
    list-style-type: none;
    display:inline-block;
    text-align: center;
}

.top a {
	transition: 0.5s;
	margin-right: 40px;
	font-size:20px;
	color: #e3e1cc;
}

.top a.active {
    color: blue;
}

.top a:hover {
	display:inline-block;
	color: #dd1a33;
	transform: scale(1.1,1.1);
	text-decoration:none;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 40pt;
    color: #e3e1cc;
    margin: 150px auto 20px auto;
    padding: 10px 0px;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    background-color: #153c4d;
    border-radius: 25px;
    opacity: 0.9;
}

th {
    text-align: center;
}

.destination{
	margin-top:20px;
}

.create {
    text-align: center;
    display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:40px;
}

.box {
	position: absolute;
    position: center;
	margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 30px;
    background: transparent;
    display:inline-block;
}

.label{
    font-size: 15px;
}

.box .inputBox label {
    padding: 10px 0;
    color: #fff;
    pointer-events: none;
    transition: .5s; 
}

.tablebox{
		position: absolute;
    width: 100%;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.addlog{
	text-align: center;
	margin-top:20px;
	margin-left: 42%; 
}
